*{
margin: 0%;
padding: 0%;
  background-color: aqua;
}
.cards{
    margin: auto;
    font-size: 200px;
    color: rgb(15, 9, 17);
    width: 90%;
    /* text-align: center; */
    box-sizing: content-box;
    /* border: 3px solid green; */
    padding: 135px;
    height: 50%;
}