*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
background-color: rgb(0, 10, 10);
}
html{
  font-size: 12px;
}
h2{
  font-size: 4rem;
text-align: center;
color: rgb(172, 238, 243);
}
h1{
  font-size: 5rem;
text-align: center;
color: rgb(172, 238, 243);
}
/* .cards{
  /* display: flex;
  text-align: center;
  justify-content: center; 
   border: 2px solid black; 
} */
.card{
  gap: 1rem;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
  display: flex;
  /* border: 2px solid black; */
  /* box-sizing: border-box; */
  flex-wrap: wrap;
 }
button{
  text-align: center;
  font-size: 1.5rem;
  width: 13rem;
  height:8rem;
  cursor: pointer;
  border-radius: 2rem;
  background-color: aqua;
  color: black;
  /* box-sizing: border-box; */
  /* text-overflow: none; */
  font-weight: bold;
}
button:hover{
  background-color: black;
  color: aqua;
  border-radius: 1rem;
  font-style: italic;
}