*{
margin: 0%;
padding: 0%;
  background-color: aqua;
}
.cards{
    margin-top: 20%;
    font-size: 100px;
    color: rgb(15, 9, 17);
    /* width: 50%; */
    /* text-align: center; */
    /* box-sizing: border-box; */
    /* border: 3px solid green; */
    /* padding: 135px; */
    /* height: 50%; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}